<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>pinch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <pinch-zoom draggableImage="true">
    <img src="https://via.placeholder.com/600/d32776" /> 
  </pinch-zoom>
  <pinch-zoom>
    <div style="width: 100%; height: 100vh;background: rgba(46, 146, 177, 0.438);">que hubo</div> 
  </pinch-zoom>
    <!--npm i ngx-pinch-zoom  -->
</ion-content>
