<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item (click)="goDoubleClick()">
      <ion-label>Double Click</ion-label>
    </ion-item>
     <ion-item (click)="goOnPresed()">
      <ion-label>OnPressed</ion-label>
    </ion-item>
    <ion-item (click)="goSwipe()">
      <ion-label>Swipe</ion-label>
    </ion-item>
    <ion-item (click)="goSlideDrawer()">
      <ion-label>Slide Drawer</ion-label>
    </ion-item>
    <ion-item (click)="goPinch()">
      <ion-label>Pinch</ion-label>
    </ion-item>
    <ion-item (click)="goDragDrop()">
      <ion-label>Drag & Drop</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
